/*  your css code here. If applicable */
body{
	background-color : #cccccc;
}
h1,h2{
	text-align : center;
}
div.player_one{
	border-radius : 5px;
	padding : 10px 0px;
	background-color : white;
}
div a{
	color : black;
	text-decoration : none;
}
div.player_two{
	text-align : center;
	background-color : white;
	border-radius : 5px;
	padding : 20px;
	height : 70vh;
	width : 63vh;
}
audio{
	width : 100%;
}